// Place all the styles related to the Admin::Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-dashboard-users {
  max-width: 30%;
  float:left;
  text-align: center;
}

.admin-dashboard-documents {
  max-width: 60%;
  float:left;
  text-align: center;
  margin-left:5%;
}