// Place all the styles related to the Author::Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.author-documents-standart {
  float: left;
  padding: 3% 5%;
  text-align: left;
}